<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @template.title %>
</p>

<p>
  <strong>Header:</strong>
  <%= @template.header %>
</p>

<p>
  <strong>Footer:</strong>
  <%= @template.footer %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
